body{
	/*убираем с боди стандартный отступ от краев*/
	margin:0px;
}

header {
/*хедер во всю ширину, чтобы можно было менять размер окна и не скало*/
	height: 610px;
	background: url(img/5-layers.jpg);
	background-position:top center;
}

.wrap{
	margin: 0 auto;
	width: 1024px;
}
.header-content{
	display:inline-block;
	margin-top:180px;
	margin-left:50px
}

.logo img {
width: 183px;
height: 83px;
} 
.intro {
/* Text style for "A great new fr" */
width: 453px;
height: 59px;
color: white;
font-family: Noto Sans, sans-serif;
font-size: 22px;
font-weight: 500;
line-height: 36px;
}

ul .icon li {
display: inline;
margin: 0;
}
ul .icon {
margin: 0;
}
.device-icon{
    background: rgba(25,25,25,0.5);
    color: rgba(244,244,244,0.5);
    width: 50px;
    height: 50px;
    padding: 13px 0;
    box-sizing: border-box;
    text-align: center;
    border-radius: 50%;
	margin-top: 20px;
	margin-right: 10px;
}
.device-icon::before{
	font-size: 24px;
}

.device-icon:hover{
	background-color: #2ecc71;
    color: white;
}
.middle {
height: 300px;
background: white;
}
.col-1 {
width: 33%;
float: left;
text-align: center;
}
.col-2 {
width: 33%;
float: left;
text-align: center;
}
.col-3 {
width: 33%;
float: left;
text-align: center;
}
.col-1 img {
width: 98px;
height: 98px;
margin-top: 50px;
}
.col-2 img {
width: 98px;
height: 98px;
margin-top: 50px;
}
.col-3 img {
width: 98px;
height: 98px;
margin-top: 50px;
}
.middle-caption {
color: #222;
text-align: center;
font-family: Raleway, sans-serif;
font-size: 22px;
margin-top: 30px;
}
.middle-description {
width: 95%;
text-align: center;
color: #848484;
font-family: Source Sans Pro, sans-serif;
font-size: 16px;
margin-top: 10px;
}
.grey {
height: 330px;
background-color: #e3e3e3;
}
.greycol-1 {
width: 50%;
float: left;
}
.greycol-2 {
width:50%;
float: left;
}
.grey-caption {
color: #222;
font-family: Raleway;
font-size: 22px;
margin-top: 40px;
margin-left: 20px;
}
.grey-description {
color: #848484;
font-family: Source Sans Pro, sans-serif;
font-size: 16px;
margin-left: 20px;
margin-top: 5px;
line-height: 1.5;
}

.greycol-2 img {
height: 55%;
width: 55%;
margin-left: 100px;
margin-top: 50px;
}
.bottom {
background-color: white;
height: 400px;
}
blockquote {
color: #848484;
font-family: Source Sans Pro, sans-serif;
font-size: 18px;
font-style: italic;
line-height: 30px;
text-align: center;
margin-top: 50px;
margin-left: 130px;
width: 800px;
}
.quote-sign {
color: #2e2e2e;
font-family: Raleway;
font-size: 18px;
text-align: center;
margin: 5px 0px 20px 0px;
}
.faces img {
text-align: center;
margin-top: 0px;
float: right;
margin: 0px 5px 45px 0px;
}
.bottom-caption {
color: #222;
text-align: center;
font-family: Raleway, sans-serif;
font-size: 24px;
}
.bottom-description {
font-family: Source Sans Pro, sans-serif;
font-size: 16px;
text-align: center;
color: #848484;
line-height: 26px;
margin-top: 20px;
}
.bottom-icons {
text-align: center;
margin-top: 15px;
margin-left: 10px;
}
ul .bottom-icons li {
display: inline;
margin: 0;
}
.soc-icons{
    background: rgba(197,197,197,0.6);
    color: rgba(255,255,255,0.8);
    width: 34px;
    height: 34px;
    padding: 10px 0;
    box-sizing: border-box;
    text-align: center;
    border-radius: 50%;
	margin-top: 20px;
	margin-right:10px;
}
.soc-icons::before {
	font-size: 17px;
}
.soc-icons:hover {
	background-color: #2ecc71;
    color: white;
}
footer {
height: 130px;
background-color: #e3e3e3;
text-align: center;
}
.footer-menu li {
display: inline-block;
color: #848484;
font-family: Source Sans Pro, sans-serif;
font-size: 16px;
padding: 15px;
margin-top: 40px;
}

form {
margin: 20px 0px 0px 20px;
}
#email {
	height: 45px;
	width: 300px;
	font-family: Source Sans Pro, sans-serif;
	color: #848484;
	font-size: 18px;
	border: 1px #cecece;
	background: white;
	border-radius: 10px 0px 0px 10px; 
	text-indent: 15px;
}

.button {
	height: 45px;
	border: 1px #cecece;
	background: #2ecc71;
	border-radius: 0px 10px 10px 0px;
	width: 120px;
	font-size: 22px;
	font-family: Raleway, sans-serif;
	font-weight: bold;
	text-align: center;
	color: white;
}
li {
	list-style-type: none;
}
ul {
	padding-left: 0;
}
iframe {
	margin: 40px 10px 40px 30px;
	text-align: center;
	border-radius: 10px;
}